.container{max-width:500px; margin:auto;}
img{ max-width:100%;}
.inbox-people {
    background: #A7CEE2 none repeat scroll 0 0;
    float: left;
    overflow: hidden;
    width: 40%; border-right:1.5px solid #c4c4c4;
}
.inbox-all {
    border: 1.5px solid white;
    clear: both;
    overflow: hidden;
}
.top-spac{ margin: 20px 0 0;}


.recent-heading {float: left; width:50%;}
.recent-heading img{
    float : left;
    object-fit: cover;
    object-position: top;
    border-radius: 40%;
    height: 70px;
    width : 70px;
    padding-bottom: 4px;
}
.recent-heading span h4 {
    float: right;
    color:#626262;
    font-size: 15px;
    font-weight: 600;
    margin: auto;
}
.search-bar{
    display: inline-block;
    text-align: right;
    width: 100%;
}
/*검색창 밑 줄*/
.heading{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1.5px solid white;}


/*검색창*/
.search-bar input{
    border:3px solid white;
    border-radius: 10px;
    width:80%;
    padding:2px 0 4px 6px;
    background: white;
}
 /*검색버튼*/
 .search-bar .input-group-addon button {
     background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
     border: medium none;
     padding: 0;
     color: #2874f0;
     font-size: 18px;
 }
.search-bar .input-group-addon { margin: 0 0 0 -27px;}
/*닉네임*/
.chat-ib h5{ font-size:17px; color: #626262; margin:0 0 5px 0; font-weight : 600; cursor: pointer;}
/*시간*/
.chat-ib div{ font-size:13px; float:right; margin: auto;}
/*최근 메세지 내용*/
.chat-ib p{ font-size:14px; color:dimgray; margin:auto;}
/*메세지 개수*/
.chat-ib h5 span{
    vertical-align:top;
    float: right;
    font-weight : 500;
    font-size:14px;
    width: auto;
    height: 18px;
    border-radius:35%;
    text-align: center;
    background-color: crimson;
    color: white;
    margin: auto
}
.chat-img {
    cursor: pointer;
    float: left;
    width: 17%;
}
/*이미지*/
.chat-img img{
    object-fit: cover;
    object-position: top;
    border-radius: 40%;
    height: 50px;
    width : 50px;
    padding-bottom: 0;
}
.chat-ib {
    float: left;
    padding: 0 0 0 15px;
    width: 78%;
}
.chat-ib button {
    padding-bottom: 0;
    float: right;
    background-color: transparent;
    border-radius: 30%;
    border:0px transparent solid;
}

/*각 사람당 칸*/
.chat{
    border-bottom: 1.2px solid white;
    margin: 0;
    padding: 18px 16px 10px;
}
.chat-people{ overflow:hidden; clear:both;}

.inbox-chat { height: 550px; border-right:1.5px solid #c4c4c4; overflow-y: scroll;}
.inbox-chat ul{
    list-style-type: none;
}

.incoming-msg-img {
    display: inline-block;
    width: 7%;
}
.incoming-msg-img img{
    object-fit: cover;
    object-position: top;
    border-radius: 40%;
    width: 2.2rem;
    height: 2.2rem;
    padding-bottom: 0;
}
.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received-with-msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.time-date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.received-with-msg { width: 57%;}
.messages {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
}

.sent-msg p {
    background: #A7CEE2 none repeat scroll 0 0;
    border-radius: 3px;
    font-size: 14px;
    margin: 0; color:#fff;
    padding: 5px 10px 5px 12px;
    width:100%;
}
.outgoing-msg{ overflow:hidden; margin:26px 26px 26px;}
.sent-msg {
    float: right;
    width: 46%;
}
.input-msg-write input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    color: #4c4c4c;
    font-size: 15px;
    min-height: 48px;
    width: 100%;
}

.type-msg { border-top: 1px solid #c4c4c4;position: relative;}
.msg-send-btn {
    background: #A7CEE2 none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    position: absolute;
    right: 0;
    top: 11px;
    width: 33px;
}
.chatting { padding: 0 0 50px 0;}
.msg-history {
    height: 516px;
    overflow-y: auto;
}