/* Made with love by Mutiullah Samim*/
html,body{

    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: white;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #ffe11b;
}

.social_icon span:hover{
    color: steelblue;
    cursor: pointer;
}

.card-header h3{
    color: black;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 40px;
    background-color: #ffe11b;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: black;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

#login_btn{
    color: black;
    background-color: #ffe11b;
    width: 100px;
}

#login_btn:hover{
    border: yellow 1px solid;
}

.links{
    color: black;
}

.links a{
    margin-left: 4px;
}