
.authEmail img {
    object-fit: cover;
    object-position: bottom;
    width: 120px;
    height: 40px;
}

.authEmail button {
    background-color: transparent;
    border-radius: 30%;
    border:0px transparent solid;
}

